doctype html
html
  head
    title ECMAScript6
    script(src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous')
    script(src='js/scriptES6.js')
    link(rel='stylesheet' type='text/css' src='css/style.css')
body(data-page="index")
  h1 ECMAScript6
  h2 To see examples open "Developer Console"

ul
  li
    a(href='let.html') Let example
  li
    a(href='const.html') Const example
  li
    a(href='template_string.html') Template String example
  li
    a(href='spread_operator.html') Spread Operator example
  li
    a(href='default_parameters.html') Default Parameters example
  li
    a(href='obj_literals.html') Object Literals example
  li
    a(href='arrow_function.html') Arrow Function example
  li
    a(href='destructuring_assignment.html') Destructuring assignment example
  li
    a(href='class_syntax.html') Class syntax example