doctype html
html
  head
    title ECMAScript6
    script(src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous')
    script(src='js/scriptES6.js')
    link(rel='stylesheet' type='text/css' src='css/style.css')
body
  h1 ECMAScript6

ul
  li
    a(href='let.html') Let example
  li
    a(href='const.html') Const example
