doctype html
html
    head
        title ECMAScript6 | let
        script(src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous')
        script(src='js/scriptES6.js')
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body(data-page="let")
        h1 ECMAScript6 | let
        h2 To see examples open "Developer Console"

        h2 Click on a BOX
        div.let-example
            ul
                li click
                li click
                li click
                li click
                li click
                li click
                li click
                li click
                li click
                li click
                li click
                li click