.let-example {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;


    li {
      margin: 10px;
      display: block;
      width: 100px;
      height: 100px;
      background: #ccc;
      line-height: 100px;
      text-align: center;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}